*.[oa]
*.l[oa]
*~
.deps
.libs
Makefile
Makefile.mingw
Makefile.in
stamp-h1
aclocal.m4
autom4te.cache/
autopackage/default.apspec
compile
config.guess
config.h
config.h.in
config.h.mingw
config.log
config.status
config.sub
configure
depcomp
gcompris-edit.desktop
gcompris-installer.nsi
gcompris.desktop
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
m4/
missing
mkinstalldirs
