[Desktop Entry]
Name=GCompris
Name[de]=GCompris
Name[es]=GCompris
Name[fi]=GCompris
Name[fr]=GCompris
Comment=Educational game starting at 3 years old
Comment[de]=Lernspiel für Kinder ab 3
Comment[es]=GCompris Game
Comment[fi]=GCompris Game
Comment[fr]=Jeu éducatif à partir de 3 ans
Exec=gcompris
Icon=gcompris.png
Terminal=0
Type=Application
