/* CSS Document */

#HEADER {
  position : absolute;
  left : 5px;
  right : 5px;
  top : 10px;
  width : 100%;
  margin : 0px;
  border: 0px solid #111;
  background-color: #FFFFFF;
  border-color : #FF0000;
  padding: 5px;
  #display: block;
  #float: left;
} 

#HEADERRIGHT {
  position : absolute;
  #width: 200px;
  top : 5px;
  #margin: 0;
  right : 5%;
}

#MENU {
  position : absolute;
  left : 5px;
  top : 140px;
  width : 200px;
  margin : 6px;
  border: 0px solid #111;
  background-color: #FFFFFF;
  border-color : #e2a395;
  padding: 15px;
  display: block;
} 
#MAIN {
  position : absolute;
  left : 250px;
  top : 140px;
  margin : 6px;
  padding : 15px;
  width: 69%;
  border: 0px solid;
  background-color: #ffffff;
  border-color : #f27979;
}
#logo{
margin:0em;
}
.imprimer {
  height: 50px;
  width: 50px;
  right: 10px;
  top: 10px;
  position: absolute;
  vertical-align: top;
  float: right;
  display: block;
}

a:link {
  text-decoration : none; 
  color : #c73938; 
} 
a:visited {
  text-decoration : none; 
  color : #c73938; 
} 
a:hover {
  text-decoration: none; 
  color : #c73938; 
} 
a.highlight:hover {
  background-color: #d6d8ec;
}

a:active {
} 
body {
  font-family:Arial, Helvetica, sans-serif;
  font-size : 12px; 
} 
.menubreves {
  font-size : 11px; 
  list-style-type : square; 
  width : 200px; 
  color : #ff9900; 
  text-decoration : none; 
  vertical-align : middle; 
} 
.menurubrique {
  font-size : 17px;
  width : 190px;
  margin : 0;
  padding : 5px 10px;
  font-weight : bolder;
  list-style-position : inside;
  list-style-type : square;
  display: block;
}
.menurubrique2 {
  font-size : 12px;
  width : 190px;
  margin : 0;
  padding : 5px 10px;
  font-weight : bolder;
  list-style-position : inside;
  list-style-type : square;
  display: block;
}
.menusousrubrique {
  font-size : 14px;
  width : 185px;
  list-style-type : square;
  display: block;
  list-style-position: inside;
  margin: 1px;
  padding-left: 25px;
} 
.menunav {
  font-family : Georgia, "Times New Roman", Times, serif; 
  font-size : 14px; 
  color : #767bb6;
  font-weight : bold; 
  border-bottom: 1px solid;
  background-color: #d6d8ec;
  border-color : #f27979;
} 
.contenu {
  font-size : 14px; 
  border-color : #e2a395;
  display: block;
  padding: 5px;
} 
.titre {
  font-family : Georgia, "Times New Roman", Times, serif; 
  font-size : 24px; 
  font-weight : bold; 
  display: list-item;
  list-style-image: url(img_pack/pucetitre.gif);
  list-style-position: inside;
} 
.titre2 {
  font-family : Georgia, "Times New Roman", Times, serif; 
  font-size : 14px; 
  font-weight : bold; 
} 
.titre3 {
  font-family : Georgia, "Times New Roman", Times, serif; 
  font-size : 12px; 
  font-weight : bold; 
} 
.titrearticle {
  font-family : Georgia, "Times New Roman", Times, serif; 
  font-size : 18px; 
  font-weight : bold; 
  border-bottom:2px solid #369;
  color:#000000;
  font-size:large;
  background-color:transparent;
  padding:0 0 0.2em 0;
} 
.titrearticlepuce {
  display: list-item;
  list-style-image: url(img_pack/pucesoustitre.gif);
  list-style-position: inside;
} 
.intro {
  font-family : Georgia, "Times New Roman", Times, serif; 
  font-size : 12px; 
  color : #c73938; 
  text-align : center; 
} 
.locale {
  font-family : Georgia, "Times New Roman", Times, serif; 
  font-size : 16px; 
  color : #66FF00; 
  font-weight : bold; 
  text-align : center; 
} 
.copyright {
  font-size : 10px; 
  text-align : center; 
  color : #cc6600; 
  padding : 10px; 
  margin : 1px; 
  border-top: 1px solid;
  border-color : #f27979;
} 
.rubriquesummary {
  padding : 10px; 
  left : 5px;
  top : 75px;
  margin : 6px;
  border: 2px solid #d573e2;
  background-color: #FFF;
  border-color : #e2a395;
  padding: 15px;
  display: block;
} 
.texterub {
  float : right; 
  width : 200px; 
  margin : 1px; 
  padding : 10px; 
  clear : left; 
  border: 1px solid #111;
  background-color: #d6d8ec;
  border-color : #e2a395;
} 
.surtitre {
  font-size : 10px; 
  color : #cc9900; 
} 
.soustitre {
  font-size : 14px; 
  color : #767bb6; 
} 
.chapo {
  font-size : 11px; 
} 
.ps {
  font-size : 10px; 
} 
.date {
  font-size : 10px; 
  float : right; 
  width : 200px; 
  font-weight : bold; 
  margin : 2px; 
  padding : 5px; 
  color : #ed4cbd; 
} 
.lesauteurs {
  font-size : 12px; 
  color : #FF0000; 
  text-align : left; 
  width : 200px; 
} 
.grasorange {
  font-size : 12px; 
  font-weight : bold; 
  color : #ed4cbd;
} 
.notes {
  font-family : Georgia, Garamond, Times, serif; 
  text-align : left; 
  font-size : 80%; 
} 
.oneboardtext {
  text-align : left; 
  width : 400px;
} 
.inscription {
  float : right;
  width : 35%;
  border-top-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-left-width : 1px;
  border-bottom-style : dashed;
  border-left-style : dashed;
  border-top-color : #cccccc;
  border-right-color : #cccccc;
  border-bottom-color : #cccccc;
  border-left-color : #cccccc;
  margin : 1px;
  padding : 10px;
  display: block;

} 
.colonnage {
  width : 40px;
  margin : 1px;
  padding : 10px;
  text-align : center;
  vertical-align : middle;
  border : 1px solid #cccccc;
  display: block;
  height: 40px;
} 
.textebreves {
  text-align : center; 
  vertical-align : middle; 
  margin : 5px; 
  padding : 10px; 
  width : 300px; 
  clear : both; 
} 
.forumformulaire {
  width : 50%; 
  border-top-width : 1px; 
  border-right-width : 1px; 
  border-bottom-width : 1px; 
  border-left-width : 1px; 
  border-top-color : #cccccc; 
  border-right-color : #cccccc; 
  border-bottom-color : #cccccc; 
  border-left-color : #cccccc; 
  margin : 1px; 
  padding : 10px; 
} 
.boxvisite {
  float : right; 
  width : 75%; 
  border-top-width : 1px; 
  border-right-width : 1px; 
  border-bottom-width : 1px; 
  border-left-width : 1px; 
  border-bottom-style : dashed; 
  border-left-style : dashed; 
  border-top-color : #cccccc; 
  border-right-color : #cccccc; 
  border-bottom-color : #cccccc; 
  border-left-color : #cccccc; 
  margin : 1px; 
  padding : 10px; 
  clear : left; 
} 
.titre1 {
  font-family : Georgia, "Times New Roman", Times, serif; 
  font-size : 24px; 
  font-weight : bold; 
  color : #1826F2; 
} 
.boxpopulaire {
  float : right; 
  width : 200px; 
  border-top-width : 1px; 
  border-right-width : 1px; 
  border-bottom-width : 1px; 
  border-left-width : 1px; 
  border-bottom-style : dashed; 
  border-left-style : dashed; 
  border-top-color : #cccccc; 
  border-right-color : #cccccc; 
  border-bottom-color : #cccccc; 
  border-left-color : #cccccc; 
  margin : 1px; 
  padding : 10px; 
} 
.grasbeige {
  font-size : 12px; 
  font-weight : bold; 
  color : #cc9900; 
}
.hiddenform {
  display: none;
}
.flottante {
  border: 2px solid #dfefff;
  margin: 2px;
  float: left;
  width: 150px;
  text-align: center;
}
.conteneur {
  width: 100%;
}
.spacer {
  clear: both;
}
