algebra_group.xml
algebramenu.xml
chess.xml
colors_group.xml
computer.xml
discovery.xml
experience.xml
experimental.xml
fun.xml
geometry.xml
gnumchmenu.xml
keyboard.xml
math.xml
mazeMenu.xml
memory_group.xml
memory_op_group.xml
memory_op_group_tux.xml
menu.xml
miscelaneous.xml
mouse.xml
numeration.xml
puzzle.xml
reading.xml
sound_group.xml
strategy.xml
