<?xml version="1.0" encoding="ISO-8859-1"?>
<GCompris>
  <Board 
	 type="menu"
	 icon=""
	 author="Bruno Coudoin (bruno.coudoin at free.fr)">
	 <name>GCompris Main Menu</name>
	 <name xml:lang="de">GCompris Hauptmenü</name>
	 <name xml:lang="fr">Menu principal de GCompris</name>
	 <description>Left-Click with the mouse to select a board</description>
	 <description xml:lang="de">Klicke mit der linken Maustaste auf eines der Icons</description>
	 <description xml:lang="fr">Clique avec le bouton gauche pour sélectionner un tableau</description>
  </Board>
  <Data filename="computer.xml"/>
  <Data filename="fun.xml"/>
  <Data filename="reading.xml"/>
  <Data filename="algebramenu.xml"/>
  <Data filename="clockgame.xml"/>
  <Data filename="draw.xml"/>
</GCompris>
