[1]
category = Accessories
image_1 = braille_objects/accessories/belt.svg
image_2 = braille_objects/accessories/hat.svg
image_3 = braille_objects/accessories/ring.svg
image_4 = braille_objects/accessories/tie.svg
ans_1 = belt
ans_2 = hat
ans_3 = ring
ans_4 = tie

[2]
category = Animals
image_1 = braille_objects/animals/cat.svg
image_2 = braille_objects/animals/dog.svg
image_3 = braille_objects/animals/elephant.svg
image_4 = braille_objects/animals/tiger.svg
ans_1 = cat
ans_2 = dog
ans_3 = elephant
ans_4 = tiger

[3]
category = Computer
image_1 = braille_objects/computer/CD.svg
image_2 = braille_objects/computer/floppy.svg
image_3 = braille_objects/computer/keyboard.svg
image_4 = braille_objects/computer/mouse.svg
ans_1 = CD
ans_2 = floppy
ans_3 = keyboard
ans_4 = mouse

[4]
category = Flowers
image_1 = braille_objects/flowers/rosa.svg
image_2 = braille_objects/flowers/lily.svg
image_3 = braille_objects/flowers/sunflower.svg
image_4 = braille_objects/flowers/daisy.svg
ans_1 = rosa
ans_2 = lily
ans_3 = sunflower
ans_4 = daisy

[5]
category = Fruits
image_1 = braille_objects/fruits/apple.png
image_2 = braille_objects/fruits/banana.png
image_3 = braille_objects/fruits/lemon.png
image_4 = braille_objects/fruits/guava.png
ans_1 = apple
ans_2 = banana
ans_3 = lemon
ans_4 = guava

[6]
category = Shapes
image_1 = braille_objects/shapes/hexagon.svg
image_2 = braille_objects/shapes/square.svg
image_3 = braille_objects/shapes/triangle.svg
image_4 = braille_objects/shapes/circle.svg
ans_1 = hexagon
ans_2 = square
ans_3 = triangle
ans_4 = circle

[7]
category = Stationary
image_1 = braille_objects/stationary/book.svg
image_2 = braille_objects/stationary/pen.svg
image_3 = braille_objects/stationary/pencil.png
image_4 = braille_objects/stationary/pin.svg
ans_1 = book
ans_2 = pen
ans_3 = pencil
ans_4 = pin

[8]
category = Vehicles
image_1 = braille_objects/vehicles/bus.svg
image_2 = braille_objects/vehicles/car.svg
image_3 = braille_objects/vehicles/plane.png
image_4 = braille_objects/vehicles/cycle.svg
ans_1 = bus
ans_2 = car
ans_3 = plane
ans_4 = cycle
