[1]
year = 1809
story = Born January 4th at Coupvary near Paris in France.
image = louis_braille/louis.png

[2]
year = 1812
story = Louis Braille injured his left eye with a stitching awl from his fathers workshop.
image = louis_braille/workshop.jpg

[3]
year = 1812
story = At the age of three Louis became blind due to sympathetic ophthalmia.
image = louis_braille/fireplace.jpg

[4]
year = 1819
story = At the age of 10 he was sent to Paris to study at the Royal Institute for Blind Youth.
image = louis_braille/rnib.jpg

[5]
year = 1820
story = He began to impress his classmates and began to play piano and the organ.
image = louis_braille/piano.svg

[6]
year = 1821
story = Charles Barbier, a french soldier visited school and shared invention of night writing ,a code of 12 raised dots to share information on battlefield.
image = louis_braille/night_printing.jpg

[7]
year = 1824
story = Louis trimmed Barbier's 12 dots into 6 and invented Braille.
image = louis_braille/braile.jpg

[8]
year = 1828
story = He became a professor after graduating and secretly taught his method.
image = louis_braille/teach.jpg

[9]
year = 1837
story = He revised and extended braille to include mathematics, symbols, punctuations and music notations.
image = louis_braille/chart.png

[10]

year = 1852
story = He died of tuberculosis. He is burried in the Pantheon in Paris. A monument is erected to honor him.
image = louis_braille/statue.jpg

[11]
year = After his Death
story = Braille got accepted as a world wide standard. Louis proved if you have motivation you can do incredible things.
image = louis_braille/braille_ball.jpg
