# This file describes how the click_on_letter activity will behave

# Section matches the level, you can put any number of level
# but they must be in sequence starting at 1

# Question is a list of letters that will be asked to search for
# Answer is a list of possible answers the children will have to choose from
# Questions and answers must be separated by single whitespaces
# WARNING: It is up to you to put at least all the Question letters in the Answer.
#          You can also add some confusing letters in the Answer section
# WARNING: Answer must have at max 18 characters
[1]
Questions=a e i o u y
Answers=a e i o u y

[2]
Questions=a e i o u y
Answers=a e i o u y c s

[3]
Questions=a e i o u y
Answers=a e i o u y c k s v x z

[4]
Questions=c k p s v x w z
Answers=c k p s v x w z

[5]
Questions=b f g l m n q t
Answers=b f g l m n q t

[6]
Questions=b d g q p n m u
Answers=b d g q p n m u

[7]
Questions=i l t h w v a e
Answers=i l t h w v a e

[8]
Questions=a b c d e f g h
Answers=a b c d e f g h

[9]
Questions=i j k l m n o p
Answers=i j k l m n o p

[10]
Questions=q r s t u v w x y z
Answers=q r s t u v w x y z

[11]
Questions=b c d f g h j k l m n p q r s t v w x z
Answers=b c d f g h j k l m n p q r s t v w x z
